body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 5px;
    max-width: fit-content;
    text-align: justify;
    background-color: aqua ;
}

.dark-mode {
    background-color: #121212;
    color: #ffffff;
}